{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react", "import"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "amd": true,
    "es6": true,
    "node": true,
    "browser": true,
    "commonjs": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "no-var": ["error"],
    "no-constant-condition": ["error", { "checkLoops": false }],
    "import/default": [0]
  },
  "settings": {
    "import/resolver": {
      "webpack": {}
    }
  }
}
