/*
/*/
!/bin/
/bin/nroff
/bin/terraform-provider-runscope
!/.config/
/.config/gcloud
/.config/configstore
!.eslintrc.json
!.gitignore
!.gitignore-global
!/.ssh/config
!.vimrc
!.zshrc
!.zshenv
.vscode
